KAFKA_BROKERS = "test-server:9092,test-server:9092,test-server:9092,est-server:9092,,test-server:9092,test-server:9092,"
KAFKA_VERSION = "2.4.1"
KAFKA_CONSUMER_GROUP = "kafka-cli-test"
KAFKA_TOPIC = "test-topic"
KAFKA_ASSIGNOR = "roundrobin"
KAFKA_OLDEST = true
KAFKA_VERBOSE = false
